body {
    padding: 0;
    font-family: sans-serif;
    background-color: #f8f5e4;
}

.title {
    font-size: 5ch;
    color: #848b67;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #f6cf8a;
    color: #aba25d;
    border: none;
    border-radius: 20px;
    padding: 0px 10px;
}

.button:hover {
    background-color: #aba25d;
    color: #f6cf8a;
}

.container {
    margin-top: 50px;
}

.upper div {
    display: inline;
    margin-left: 100px;
    white-space: pre;
}

.bottom {
    margin-top: 30px;
    display: flex;
}

.bottom div {
    flex: 1;
    border: 1px solid black;
    height: 400px;
    margin: 10px;
}

.bottom div img {
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    margin: 10px;
}

.bottom div textarea {
    resize: none;
    width: calc(100% - 21px);
    height: calc(100% - 21px);
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
}

.bottom div:first-child {
    margin-left: 0px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

.bottom div:last-child {
    margin-right: 0px;
}